@import "./_variables.scss";
.nav_title {
  h1 {
    font-weight:600;
    margin-bottom: 0;
    a {
      color: $link-primary;
    }
    a:hover {
      color: lighten($link-primary, 25%); 
    }
  }
  h3 {
    margin-top: 0;
    color: $font-secondary;
  }
}
nav {
  margin-right: $space-xxl;
  display: block;
  background: $nav-link-background;
  height: $space-xxxxl;
  width: 100%;
  a {
    position: relative;
    top: $space-md;
    padding: $space-md $space-lg;
    color: $nav-link-primary;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  a:hover {
    background: darken($nav-link-background, 10%);
    color: lighten($nav-link-primary, 20%);
  }
  a.router-link-active {
    font-weight: 700;
    background: darken($nav-link-background, 5%);
    color: $nav-link-primary;
  }
}