@import "./_variables.scss";
.nav {
  display: block;
}
.nav_title {
  h1 {
    font-weight:500;
    margin-bottom: 0;
    a {
      color: $font-primary;
    }
    a:hover {
      color: darken($font-primary, 25%); 
    }
  }
  h3 {
    margin-top: 0;
  }
}
ul.nav {
  float: right;
  margin-right: 45px;
  margin-top: 24px;
  li {
    width: auto;
    float: left;
    list-style-type: none;
    a {
    padding: 12px 16px;
    }
  }
  a {
    color: $font-primary;
  }
  a:hover {
    color: darken($font-primary, 25%);
    background: darken($background-primary, 10%);
    border-bottom: 3px solid lighten($background-primary, 10%);
  }
  a.router-link-active {
    font-weight: 700;
    color: $font-primary;
    border-bottom: 3px solid $font-primary;
  }
}