$color-primary: #474344;
$background-primary: #fafafa;
$font-primary: #474344;
$link-primary: #2c4f94;
$font-secondary: #5293cc;

// Grid Variables
$grid-columns: 12;
$grid-max-width: 1200px;

$breakpoint-small: "only screen and (min-width: 0px)";
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-large: "only screen and (min-width: 1008px)";
$breakpoint-xl: "only screen and (min-width: 1300px)";