$color-primary: #474344;
$background-primary: #EAE2D7;
$font-primary: #474344;
$link-primary: #943D2C;
$font-secondary: #CC7952;

// Grid Variables
$grid-columns: 12;
$grid-max-width: 1200px;

$breakpoint-small: "only screen and (min-width: 0px)";
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-large: "only screen and (min-width: 1008px)";
$breakpoint-xl: "only screen and (min-width: 1300px)";