@import "variables";
@import "grid";
@import "nav";

html {
  background: $background-primary;
  color: $font-primary;
  min-height: 100vh;
}
#app {
	font-family: 'Barlow', sans-serif;
}
body {
	margin: 0;
}
.pull-right {
	float: right;
}
.case_study {
	margin-bottom: $space-xl;
	a {
		color: $font-primary;
		-webkit-transition: text-shadow .5s;
		transition: text-shadow .5s;
		h3 {
			color: $link-primary;
			-webkit-transition: color .5s;
	     	transition: color .5s; 
		}
	}
	a:hover {
		text-shadow: 2px 1px 1px rgba(103,103,103,0.1);
		img {
		box-shadow: 2px 1px 1px rgba(103,103,103,0.1);
		}
	}
}
img { width: 100% }
.case_description {
	padding: 0 $space-md;
}
// .case_image {
// 	box-shadow: 0 0 $space-xxs lighten($background-primary, 25%);
// }
a {
  color: $link-primary;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  transition: color 0.25s ease;
}
.home_page_text {
	font-size: 18px;
}
.design_quote {
	font-style: italic;
	text-align: center;
	margin-top: $space-xxxl;
	span {
	display: block;
	}
}
// .headshot {
// }
.breadcrumbs {
	list-style: none;
	display: inline;
	padding-left: 0;
	li {
		display: inline;
		margin-right: $space-xs;
		a {
			font-weight:500;
		}
	}	
}
.use_case {
	.breadcrumbs {
		margin-bottom: $space-xl;
		font-size: $space-md;
	}
	h1 {
	font-weight: 200;
	font-size: $space-xxxl;
	}
	h2 {
	font-weight: 200;
	font-size: $space-lg;
	}
	h3 {
	margin-top: $space-xl;
	font-weight: 500;
	font-size: $space-xl;
	}
	.specs-name {
		text-transform: uppercase;
	}
	h5 {
	 margin: $space-xs;
	}
	img {
		width: 50%;
	}
	img.ss-img {
		width: 27%;
		margin: $space-lg;
	}
}